.back-rectangle {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  z-index: 14;
  background: #777;
  opacity: 0;
}

.return-back-wrapper {
  z-index: 12;
  position: fixed;
  top: -75px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.74);
  padding: 0;
  transition: all ease 0.7s;
  .left-arrow-wr {
    padding: 0;
    .left-arrow {
      stroke-dasharray: 1380 1380;
      stroke-dashoffset: -1380;
    }
    .left-arrow-edge {
      stroke-dasharray: 30 30;
      stroke-dashoffset: 30;
    }
    .left-arrow-bg {
    opacity: 0;
    }
  }

  &.active {
    transform: translateY(75px);
    .left-arrow-wr {
      .left-arrow {
        transition: all 1.4s ease-in-out .5s;
        stroke-dashoffset: 1330;
      }
      .left-arrow-edge {
        transition: all 0.7s ease 1.9s;
        stroke-dashoffset: 0;
      }
      .left-arrow-bg {
        transition: opacity 0.7s ease 1.6s;
        opacity: 10;
      }
    }
  }
}

.side-hint {
  position: fixed;
  top: 10vh;
  left: -15vw;
  width: 14vw;
  height: 7vh;
  background: #343737;
  box-shadow: 0 0 1px 1px #19f6e8;
  transition: all ease-out 0.5s;
  font-family: "Montserrat", "Roboto Thin", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding-top: 1vh;
  border-top: 1px solid #19f6e8;
  border-right: 1px solid #19f6e8;
  border-bottom: 1px solid #19f6e8;
  z-index: 16;

  &.active {
    transform: translateX(15vw);
  }
}
