@import "./css/modal.css";
@keyframes blink {
  from {
    opacity: 0.1
  }
  20% {
    opacity: 1
  }
  70% {
    opacity: 0.0
  }
  to {
    opacity: 0.0
  }
}

@keyframes move {
  from {
    top: 36%
  }
  70% {
    top: 54%
  }
  to {
    top: 54%
  }
}

@mixin technologies-cards {
  width: 480px;
  height: 270px;
  background: #FFFFFF;
  box-shadow: 7px 5px 7px #ECEEF1;
  border-radius: 21px;

  .title {
    padding-top: 15px;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;

    color: #000000;
  }

  .logos-wrapper {
    margin-top: 12px;
    height: 70%;

    display: grid;
    justify-items: center;
    align-content: space-between;
    grid-template-columns: repeat(3, 33%);

    .technology-logo-wrapper {
      .technology-logo {
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(58, 75, 88, 0.9);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        transition: all 0.7s;
      }

      &:hover {
        .technology-logo {
          transform: rotate3d(0, 1, 0, 180deg);
        }
      }
    }
  }
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.first-screen {
  height: 100vh;

  background-image: url("./assets/img/BG1.png");
  background-size: cover;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;


  .offer-wrapper {
    width: 100%;
    display: flex;

    .offer {
      margin-top: 25vh;
      margin-left: 14vw;
      flex-basis: 50%;
      display: flex;
      flex-direction: column;

      .pre-title {
        font-weight: 400;
        font-size: 3.2rem;
        line-height: 66px;
        display: flex;
        align-items: center;

        color: #FFFDFD;
      }

      .title-1 {
        margin-top: 3vh;
        font-weight: 300;
        font-size: 2.1rem;
        line-height: 2.5rem;
        display: flex;
        align-items: center;

        color: #FFFDFD;
      }

      .title-2 {
        margin-top: 2vh;
        font-weight: 400;
        font-size: 3rem;
        line-height: 3.8rem;
        letter-spacing: 0.1rem;
        display: flex;
        align-items: center;

        color: #F9F7F7;
      }

      .sub-title {
        margin-top: 2vh;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;

        color: #FFFDFD;
      }
    }
  }

  .scroll-icon {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    cursor: pointer;

    img {
      position: relative;
      left: -50%;
      opacity: 0.9;
    }

    &::after {
      position: absolute;
      left: 21px;
      top: 30%;
      display: block;
      content: "";
      background-image: url("./assets/img/bottom-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      //transition: all 0.5s ease;

      animation-name: move, blink;
      animation-duration: 1.4s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
    }

    //&:hover::after {
    //  opacity: 0.1;
    //}
  }
}

.second-screen {
  background: #F4F7FA;

  .navbar {
    height: 70px;
    display: flex;
    align-items: center;
    transition: all ease 0.7s;

    background: linear-gradient(115.09deg, #2D2C42 35.79%, rgba(58, 75, 88, 0.9) 69.46%);
    box-shadow: 0 7px 7px rgba(58, 75, 88, 0.9);

    &.navbar-fixed {
      position: fixed;
      top: -90px;
      width: 100%;
      z-index: 9;
      transform: translateY(90px);
    }

    .navbar-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        margin-left: 3vw;
      }

      .nav-links-wrapper {
        width: 50%;
        display: flex;
        flex-direction: column;

        .nav-links {
          display: flex;
          justify-content: space-around;

          .nav-link {
            font-size: 1rem;
            line-height: 1.4rem;
            letter-spacing: 0.18rem;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #FFFDFD;
            position: relative;

            &._active-nav-link {
              color: #19f6e8;
            }

            &:hover {
              cursor: pointer;
            }

            &:after {
              position: absolute;
              left: 0;
              top: 1.5rem;
              content: "";
              width: 100%;
              height: 2px;
              border-bottom: 2px solid whitesmoke;
              opacity: 0;
              transition: 0.3s;
              transform: translateY(50%);
            }

            &:hover:after {
              opacity: 1;
              transform: translateY(-50%);
            }

          }
        }
      }
    }
  }

  .second-content-wrapper {
    display: flex;
    justify-content: space-around;


    position: relative;

    .left-column {
      z-index: 2;
      margin-left: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .resume-card {
        margin-top: 100px;
        width: 610px;
        height: 270px;
        background: #FFFFFF;
        box-shadow: 7px 5px 7px #ECEEF1;
        border-radius: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title {
          margin-top: 15px;
          width: 100%;
          font-weight: normal;
          font-size: 43px;
          line-height: 48px;
          text-align: center;

          color: #000000;
        }

        .desc {
          margin-top: 25px;
          padding-left: 15px;
          padding-right: 15px;
          font-size: 18px;
          line-height: 29px;
          display: flex;
          align-items: center;
          text-align: center;

          color: #000000;
        }
      }

      .backend-card {
        margin-top: 70px;
        margin-bottom: 120px;

        @include technologies-cards;
      }

    }

    .right-column {
      z-index: 2;

      .switcher-wrapper {
        margin-top: 8vh;
        margin-right: 3vw;
        display: flex;
        justify-content: flex-end;


        .switcher {
          margin-top: 30px;
          margin-left: 20px;
          width: 180px;
          padding: 0 14px;
          height: 70px;
          background-image: url("./assets/img/switcher-bg.svg");
          background-repeat: no-repeat;
          background-size: contain;
          display: flex;
          align-items: center;

          .switcher-btn {
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &.pressed {
              background-image: url("./assets/img/switcher-btn.svg");
              background-size: contain;
              background-repeat: no-repeat;
              background-position-y: center;
            }

            span {
              display: inline-block;
              font-size: 10px;
              line-height: 14px;
              text-align: center;

              color: #8F9BB2;
            }
          }
        }
      }

      .frontend-card {
        margin-top: 191px;

        @include technologies-cards;

      }
    }

    .second-content-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      @mixin wire-stroke($wire-width) {
        stroke-dasharray: $wire-width $wire-width;
        stroke-dashoffset: $wire-width;
      }
      @mixin wire-stroke-move() {
        stroke-dashoffset: 0;
      }

      .active-wire {
        transition: all 1s ease;
        stroke-linecap: round;
        stroke-width: 3px;
        stroke: #19f6e8;
      }

      .active-wire-1 {
        @include wire-stroke(400)
      }

      .active-wire-2 {
        @include wire-stroke(840)
      }

      .active-wire-3 {
        @include wire-stroke(300)
      }

      .pin-from {
        transition: all 0.3s ease;
      }

      .pin-to {
        transition: all 0.3s ease 0.8s;
      }


      &.active {
        .active-wire {
          @include wire-stroke-move
        }

        .pin {
          r: 5px;
        }
      }
    }
  }
}

.work-examples-screen {
  padding-top: 16vh;
  padding-bottom: 5vh;
  //background: linear-gradient(124.12deg, rgba(45, 44, 66, 0.91) 18.85%, rgba(62, 73, 82, 0.95) 73.56%);
  background-color: #343737;
  .circle {
    margin-left: 160px;
    border: 3px solid whitesmoke;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: relative;

    .down-arrow {
      position: absolute;
      top: 20%;
      left: 32%;
      width: 14px;
      height: 14px;
      border-bottom: 3px solid whitesmoke;
      border-right: 3px solid whitesmoke;
      border-bottom-left-radius: 5%;
      transition: 0.8s ease;
      transform: rotate(45deg);
    }
  }

  .my-markups {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .simple-card-wrapper {
      display: block;
      text-decoration: none;
      .simple-card {
        margin: 5vh 5vw;
        width: 300px;
        height: 450px;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2%;
        transition: all 0.4s ease-in-out;

        font-size: 34px;
        color: whitesmoke;



        &:hover {
          transform: scale(1.07);
        }
      }
    }
  }

  .test {
    background-color: #343737;

    .svg-wrapper {
      //position: relative;
      //top: 50%;
      //transform: translateY(-50%);
      margin: 0 auto;
      width: 320px;
    }

    .shape {
      stroke-dasharray: 140 540;
      stroke-dashoffset: -474;
      stroke-width: 8px;
      fill: transparent;
      stroke: #19f6e8;
      border-bottom: 5px solid black;
      transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
    }

    .text {
      font-size: 22px;
      line-height: 32px;
      letter-spacing: 8px;
      color: #fff;
      top: -48px;
      position: relative;
      text-align: center;
    }

    .svg-wrapper:hover .shape {
      stroke-width: 2px;
      stroke-dashoffset: 0;
      stroke-dasharray: 760;
    }

  }

}

.service-screen {
  background-color: #343737;
  height: 100vh;
  .service-container {
    display: flex;
    justify-content: space-between;
    .service-list-container {
      margin-left: 9vw;
      margin-top: 25vh;
      .service-list {
        width: 450px;
        .service-list-title {
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ECBA16;
          & > span {
            font-weight: 500;
            font-size: 2.5rem;
            line-height: 3.4rem;
            text-transform: uppercase;
            letter-spacing: 0.045em;
            color: #38454F;
          }
        }
        .service-list-content {
          list-style: none;
          margin: 0;
          padding-left: 0;
          .list-item {
            width: 100%;
            height: 70px;
            background-color: #3A4B58;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            & > span {
              font-weight: 400;
              font-size: 36px;
              line-height: 44px;
              color: #FFFDFD;
            }
            &:hover {
              background-color: #E55555;
              .inner-list {
                display: block;
              }
            }
            .inner-list {
              display: none;
              position: absolute;
              top: 0;
              left: 450px; //todo сделать зависимость
              width: 300px;
              list-style: none;
              padding-left: 0;
              .inner-list-item {
                height: 70px;
                background: #0B1D26;
                display: flex;
                justify-content: center;
                align-items: center;
                //transition: all 0.3s ease;
                & > span {
                  font-weight: 400;
                  font-size: 1.8rem;
                  line-height: 3rem;
                  color: #FFFDFD;
                }
                & + .inner-list-item {
                  border-top: 1px solid #00d9ff;
                }
              }
            }
          }
        }
      }
    }
    .monitor-wrapper {
      margin-right: 9vw;
      margin-top: 23vh;
    }
  }
}

.contacts-screen {
  background-color: #343737;
  .title-wrapper {
    display: flex;
    justify-content: center;
    .title {
      font-size: 2.1rem;
      font-weight: 300;
      font-style: italic;
      letter-spacing: 0.3rem;
      color: white;
      position: relative;
      &:before {
        position: absolute;
        top: 50%;
        left: -38vw;
        content: "";
        border-bottom: 1px solid white;
        width: 36vw;
      }
      &:after {
        position: absolute;
        top: 50%;
        right: -38vw;
        content: "";
        border-bottom: 1px solid white;
        width: 36vw;
      }
    }
  }

  .contacts-wrapper {
    margin-top: 7vh;
    padding-bottom: 11vh;
    display: flex;
    justify-content: space-around;
    .contacts-card {
      width: 25vw;
      height: 7vh;
      background: #38454F;
      display: flex;
      justify-content: space-around;
      .contact-logo {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .contact-text {
        font-style: normal;
        font-weight: 300;
        font-size: 1.4rem;
        line-height: 2.1rem;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFDFD;
      }
    }
  }
}

.test {

}

footer {
  height: 7vh;
  background-color: #0B1D26;

  .footer-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left-column {
      font-weight: 300;
      margin-left: 9vw;
      font-size: 25px;
      color: whitesmoke;
    }

    .right-column {
      margin-right: 9vw;
      font-size: 25px;
      font-weight: 300;
      color: whitesmoke;

      a {
        text-decoration: none;
        color: #2e7ec4;
      }
    }
  }
}
